{
  "textConfig": {
    "details": "this config for nightscout",
    "state": "cgm on discord",
    "nsurl": "https://your.ns-url.com/pebble",
    "mmol": false
  },
  "imageConfig": {
    "smallKey": "nightscout_sm",
    "largeKey": "nightscout_lg",
    "smallText": "Nightscout",
    "largeText": "CGM In The Cloud",
    "showButton": true
  },
  "timeConfig": {
    "timeType": "none",
    "whatTime": "0s"
  },
  "serviceConfig": {
    "titlePrefix": "",
    "artistPrefix": "",
    "useUserInterface": true,
    "useTimestamps": true,
    "customClientID": "none",
    "IMDB": {
      "defaultID": "tt3659388"
    },
    "FooBar2000": {
      "txtLocation": ""
    },
    "YouTube": {
      "browser": "chrome"
    },
    "lastFM": {
      "key": "",
      "secret": "",
      "username": ""
    }
  },
  "clientID": "411355685268488213"
}
